if SHIELD_PHULWARIV3_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "PhulwariV3"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PHULWARIV3_LEFT || SHIELD_PHULWARIV3_RIGHT

config ZMK_SPLIT
    default y

endif
